Lab1/lab1part3/stepLambda.json
{
    "StartAt": "Lab1Part3LambdaStep",
    "States": {
      "Lab1Part3LambdaStep": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:329599647793:function:lab1part3:$LATEST",
          "Payload.$": "$"
        },
        "OutputPath": "$.Payload.body",
        "Next": "Choice"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.entryStatus",
            "StringMatches": "allowed",
            "Next": "Success"
          }
        ],
        "Default": "Fail"
      },
      "Success": {
        "Type": "Succeed"
      },
      "Fail": {
        "Type": "Fail"
      }
    }
  }